<a href="https://colab.research.google.com/github/HARSHADA02/Python/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#string = strings contain characters
#indexing
text = "python"
print(text[-1])

n

In [ ]:
#slicing
word = "hello"
print(word[1:4])

ell

In [ ]:
for char in "hello":
  print(char)

h
e
l
l
o

In [ ]:
print(len("python"))

6

In [ ]:
name = 'aiadventures'
print('zo' in name)
print('z' not in name)
print('v' in name)

False
True
True

In [ ]:
name = 'lucy a cat'
name[5] = 'the'

TypeError: 'str' object does not support item assignment

In [ ]:
name = 'lucy a cat'
new = name[0:5] + "the" +name[6:10]
new

In [ ]:
#Tuplea = built in data type in python used to store an ordered collection of items.(int float, string)
# once a tuple is created, its contents cannot be changed. You cannot add, remove, or modify elements within it.
# tuples= ()
candies = ("hello", 42, 0.5)
candies

In [ ]:
#type of element that we can store in tuple
mixed_tuple = (1, "python", 3.14, True, [4,5])
print(mixed_tuple)
print(type(mixed_tuple[1]))
print(type(mixed_tuple[0]))
print(type(mixed_tuple[2]))

In [ ]:
empty_tuples = ()
print(empty_tuples)
single = (5)
print(single)

In [ ]:
#integer and duplicates
numbers = (1,2,3,4,5)
print(numbers)
duplicates= (1, 1, 2,3,4,4)
print(duplicates)

In [ ]:
from io import open_code
#mixed & optional parenthese
mixed = (1, "hello", 3.14, True)
print(mixed)
optional = 1,2,3
print(optional)

In [ ]:
#tuple indexing
point = (10,20)
print(point[0])
items = ['apple', 'banana']
print(items[-1])

10
banana

In [ ]:
#tuple slicing
data = (1,2,3,4)
print(data[0:2])

(1, 2)

In [ ]:
#tuple looping
colors = ('red', 'green')
for color in colors:
  print(color)

red
green

In [ ]:
#tuple len
print(len(('apple', 'banana')))

2

In [ ]:
#in and not in
my_tuple = ('a', 'b', 'c', 'd')
print("b" in my_tuple)
print("k" not in my_tuple)

True
True

In [ ]:
#list ---> Tuple

my_list = ['cat', 'dog', 5]
tuple_= tuple(my_list)
tuple_

('cat', 'dog', 5)

In [ ]:
# Tuple --> List
my_tuple = ('cat', 'dog',5)
p = list(my_tuple)
print(p)

['cat', 'dog', 5]

In [ ]:
#str --> List
char_list = list('hello')
print(char_list)

['h', 'e', 'l', 'l', 'o']

In [ ]:
#A dictionary (dict) is a mutable, unordered, collection of key-value pairs
dictionary = {"key1":"value1", "key2" : "value2"}
dictionary
my_phn = {"brand":"apple", "color":"gray", "model":"iphone", "year":2020}
my_phn

{'brand': 'apple', 'color': 'gray', 'model': 'iphone', 'year': 2020}

In [ ]:
#retrieving data: Access a value by referencing its key inside square brackets:
myphn = {"brand":"apple", "color":"gray", "model":"iphone", "color": "black"}
print(myphn["brand"])
print(myphn["model"])

apple
iphone

In [ ]:

#updating data :Change the value of an existing key by reassigning it
myphn["brand"]= "oppo"
print(myphn)
#You can also update multiple keys at once using the .update() method:
myphn.update({"model": "F29", "year":2020})
print(myphn)

{'brand': 'oppo', 'color': 'black', 'model': 'iphone'}
{'brand': 'oppo', 'color': 'black', 'model': 'F29', 'year': 2020}

In [ ]:

#adding data :Add a new key-value pair by simply assigning a value to a new key:
myphn['storage'] = '128GB'
print(myphn)

{'brand': 'oppo', 'color': 'black', 'model': 'F29', 'year': 2020, 'storage': '128GB'}

In [ ]:
#You can remove key-value pairs using two common methods:
#using del
del myphn["color"]
print(myphn)
#using .pop
removed_value = myphn.pop("storage")
print(removed_value)
print(myphn)

{'brand': 'oppo', 'model': 'F29', 'year': 2020, 'storage': '128GB'}
128GB
{'brand': 'oppo', 'model': 'F29', 'year': 2020}

In [ ]:
if "brand" in myphn:
  print("brand exists:" , myphn['brand'])
else:
  print("brand key not found")

brand exists: oppo

In [ ]:
#seperate only keys, values, items in list/tuples format using built- in menthods and operations
print(list(myphn.keys()))

['brand', 'model', 'year']

In [ ]:
print(tuple(myphn.values()))

('oppo', 'F29', 2020)

In [ ]:
myphn = {"brand":"apple", "color":"gray", "model":"iphone", "color": "black"}
for key, value in myphn.items():
  print("Key", ":", key, "Value",": ",value)

Key : brand Value :  apple
Key : color Value :  black
Key : model Value :  iphone

In [ ]:
myphone = {'brand': 'apple', 'model': 'iPhone 13', 'color': 'black'}
for key, value in myphone.items():
    print(f"Key: {key}, Value: {value}")

# Output:
# Key: brand, Value: apple
# Key: model, Value: iPhone 13
# Key: color, Value: black

Key: brand, Value: apple
Key: model, Value: iPhone 13
Key: color, Value: black

In [ ]:
#operators
#using in operators
if 'brand' in myphn:
  print("brand is available")

brand is available

In [ ]:
#using not in operators
if 'storage' not in myphn:
  print("color info is missing")

color info is missing

In [ ]:
#advanced usage & practical applications
#nested dictionaries
all={'prajwal':{'samosa':4, 'jalebi': 10},
     'vivek': {'chakli': 3, 'samosa' : 3},
     'pranav':{'chiwda':2, 'oreo':1}
     }
print(all)

{'prajwal': {'samosa': 4, 'jalebi': 10}, 'vivek': {'chakli': 3, 'samosa': 3}, 'pranav': {'chiwda': 2, 'oreo': 1}}

In [ ]:
#Iterating over nested dicts
for guest, items in all.items():
  print(f"{guest} brought:")
  for items, quantity in items.items():
    print(f"{items} : {quantity}")

prajwal brought:
samosa : 4
jalebi : 10
vivek brought:
chakli : 3
samosa : 3
pranav brought:
chiwda : 2
oreo : 1

In [ ]:
def totalbrought(guests, item):
  total = 0
  for guests, items in guests.items():
    total += items.get(item, 0)
  return total

  all={'prajwal':{'samosa':4, 'jalebi': 10},
     'vivek': {'chakli': 3, 'samosa' : 3},
     'pranav':{'chiwda':2, 'oreo':1}
     }
print('Total chakli:', totalbrought(all, 'jalebi'))

Total chakli: 10

In [ ]:
#sets = stores an unordered collection of unique elements.
#sets are ideal for mathematical operations like unions, intersections, and differences.
# No Duplicates: Each element in a set is unique.
# Unordered: The order of elements is not maintained.
v = {1,2,3,4}
v

{1, 2, 3, 4}

In [ ]:
v.add(5)
v
v.remove(1)
v

{2, 3, 4, 5}

In [ ]:
print(4 in v)

True

In [ ]:
print(3 not in v)

False

In [ ]:
#union (|):The union of two sets contains all the unique elements that appear in either set.
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}
print(primes | odds)


print(primes.union(odds))

{1, 2, 3, 5, 7, 9}
{1, 2, 3, 5, 7, 9}

In [ ]:
#intersection (&) ; The intersection of two sets contains only the elements that are found in both sets.
print(primes & odds)

print(primes.intersection(odds))

{3, 5, 7}
{3, 5, 7}

In [ ]:
#difference (-):The difference between two sets contains the elements that are in the first set but not in the second.
print(primes - odds)

print(primes.difference(odds))

{2}
{2}

In [ ]:
#symmetric difference (^):
print(primes ^ odds)

print(primes.symmetric_difference(odds))

{1, 2, 9}
{1, 2, 9}

In [ ]:
#adding elements
#add(): Adds a single element to the set.
#update(): Adds multiple elements (from an iterable) to the set.
numbers = {1,2,3}
numbers.add(4)
print(numbers)
numbers.update([5,6,7])
print(numbers)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# removing elements
# remove(): Removes a specified element. If the element is not found, it raises a KeyError.
# discard(): Removes a specified element. If the element is not found, it does nothing.
# pop(): Removes and returns an arbitrary element from the set. Since sets are unordered, you don't know which element gets removed.
# clear(): Removes all elements from the set.

numbers= {1,2,3,4,5}
numbers.remove(3)
print(numbers)

numbers.discard(2)
print(numbers)


popped_value = numbers.pop()
print("popped:", popped_value)
print(numbers)

numbers.clear()
print(numbers)

{1, 2, 4, 5}
{1, 4, 5}
popped: 1
{4, 5}
set()

In [ ]:
# changing values in set
# set elements are immutable (you cannot change a value directly),
# to "change" an element you must remove the old element and add the new element.
colors = {'red','blue','green'}
colors.discard('blue')
colors.add('yellow')
colors

{'green', 'red', 'yellow'}

exercise

In [ ]:
student = {"name":"harshada", "Gender":"female", "age":23, "programming language":"python"}
student.update({"roll number": 43})
print(student)

{'name': 'harshada', 'Gender': 'female', 'age': 23, 'programming language': 'python', 'roll number': 43}

In [ ]:
def match_string(string, substring):
    string = 'ABRACADABRA'
    substring = 'A'
    count= 0
    for i in string:
      if substring == i:
         count+=1
    print(count)

match_string(string, substring)

5

In [ ]:
def total_bill(first, second):
    stock = {'banana':6, 'apple':0, 'orange':32, 'pear':15}
    prices ={'banana':4, 'apple':2, 'orange':1.5, 'pear':3}
    total = 0
    for i in stock.keys():
        total += stock[i] * prices[i]
    print(total)
total_bill(stock, prices)

117.0

In [ ]:
def create_dict(keys_list):
    sampleDict = {}
    for i in keys_list:
      sampleDict[i] =input(f'enter {i} :')

    return sampleDict

keys_list = ["Name", "Birth Month", "Programming Language", "Salary"]
create_dict(keys_list)

enter Name :h
enter Birth Month :jan
enter Programming Language :c++
enter Salary :35

{'Name': 'h',
 'Birth Month': 'jan',
 'Programming Language': 'c++',
 'Salary': '35'}

In [ ]:
 ## use of f fucntion
age = 78
print(f'wertyui {age} ')

wertyui 78

In [ ]:
def unique_elements(dicionary):

    marks = {"English": 78, "Maths": 89, "Science": 92,
            "History": 89, "Geography": 77, "Physics": 92, "Chemistry": 78}
    a= list(set(marks.values()))
    c = a.sort(reverse = True)
    return a
unique_elements(a)

[92, 89, 78, 77]

In [ ]:
def count_vowels(countries):

    asian_countries = ('afghanistan', 'bangladesh', 'bhutan', 'china', 'india', 'iran', 'iraq', 'israel', 'japan')
    vowels = 'aeiou'
    d = {}

    for char in asian_countries:
      c = 0
      for i in char:
          if i in vowels:
            c += 1
      d[char] = c


    return d

count_vowels(asian_countries)

{'afghanistan': 4,
 'bangladesh': 3,
 'bhutan': 2,
 'china': 2,
 'india': 3,
 'iran': 2,
 'iraq': 2,
 'israel': 3,
 'japan': 2}

In [ ]:
for i in range(1000,3001):
  if i % 2==0:
    print(i, end = ",")

1000,1002,1004,1006,1008,1010,1012,1014,1016,1018,1020,1022,1024,1026,1028,1030,1032,1034,1036,1038,1040,1042,1044,1046,1048,1050,1052,1054,1056,1058,1060,1062,1064,1066,1068,1070,1072,1074,1076,1078,1080,1082,1084,1086,1088,1090,1092,1094,1096,1098,1100,1102,1104,1106,1108,1110,1112,1114,1116,1118,1120,1122,1124,1126,1128,1130,1132,1134,1136,1138,1140,1142,1144,1146,1148,1150,1152,1154,1156,1158,1160,1162,1164,1166,1168,1170,1172,1174,1176,1178,1180,1182,1184,1186,1188,1190,1192,1194,1196,1198,1200,1202,1204,1206,1208,1210,1212,1214,1216,1218,1220,1222,1224,1226,1228,1230,1232,1234,1236,1238,1240,1242,1244,1246,1248,1250,1252,1254,1256,1258,1260,1262,1264,1266,1268,1270,1272,1274,1276,1278,1280,1282,1284,1286,1288,1290,1292,1294,1296,1298,1300,1302,1304,1306,1308,1310,1312,1314,1316,1318,1320,1322,1324,1326,1328,1330,1332,1334,1336,1338,1340,1342,1344,1346,1348,1350,1352,1354,1356,1358,1360,1362,1364,1366,1368,1370,1372,1374,1376,1378,1380,1382,1384,1386,1388,1390,1392,1394,1396,1398,1400,1402,1404,1406,1408,1410,1412,1414,1416,1418,1420,1422,1424,1426,1428,1430,1432,1434,1436,1438,1440,1442,1444,1446,1448,1450,1452,1454,1456,1458,1460,1462,1464,1466,1468,1470,1472,1474,1476,1478,1480,1482,1484,1486,1488,1490,1492,1494,1496,1498,1500,1502,1504,1506,1508,1510,1512,1514,1516,1518,1520,1522,1524,1526,1528,1530,1532,1534,1536,1538,1540,1542,1544,1546,1548,1550,1552,1554,1556,1558,1560,1562,1564,1566,1568,1570,1572,1574,1576,1578,1580,1582,1584,1586,1588,1590,1592,1594,1596,1598,1600,1602,1604,1606,1608,1610,1612,1614,1616,1618,1620,1622,1624,1626,1628,1630,1632,1634,1636,1638,1640,1642,1644,1646,1648,1650,1652,1654,1656,1658,1660,1662,1664,1666,1668,1670,1672,1674,1676,1678,1680,1682,1684,1686,1688,1690,1692,1694,1696,1698,1700,1702,1704,1706,1708,1710,1712,1714,1716,1718,1720,1722,1724,1726,1728,1730,1732,1734,1736,1738,1740,1742,1744,1746,1748,1750,1752,1754,1756,1758,1760,1762,1764,1766,1768,1770,1772,1774,1776,1778,1780,1782,1784,1786,1788,1790,1792,1794,1796,1798,1800,1802,1804,1806,1808,1810,1812,1814,1816,1818,1820,1822,1824,1826,1828,1830,1832,1834,1836,1838,1840,1842,1844,1846,1848,1850,1852,1854,1856,1858,1860,1862,1864,1866,1868,1870,1872,1874,1876,1878,1880,1882,1884,1886,1888,1890,1892,1894,1896,1898,1900,1902,1904,1906,1908,1910,1912,1914,1916,1918,1920,1922,1924,1926,1928,1930,1932,1934,1936,1938,1940,1942,1944,1946,1948,1950,1952,1954,1956,1958,1960,1962,1964,1966,1968,1970,1972,1974,1976,1978,1980,1982,1984,1986,1988,1990,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020,2022,2024,2026,2028,2030,2032,2034,2036,2038,2040,2042,2044,2046,2048,2050,2052,2054,2056,2058,2060,2062,2064,2066,2068,2070,2072,2074,2076,2078,2080,2082,2084,2086,2088,2090,2092,2094,2096,2098,2100,2102,2104,2106,2108,2110,2112,2114,2116,2118,2120,2122,2124,2126,2128,2130,2132,2134,2136,2138,2140,2142,2144,2146,2148,2150,2152,2154,2156,2158,2160,2162,2164,2166,2168,2170,2172,2174,2176,2178,2180,2182,2184,2186,2188,2190,2192,2194,2196,2198,2200,2202,2204,2206,2208,2210,2212,2214,2216,2218,2220,2222,2224,2226,2228,2230,2232,2234,2236,2238,2240,2242,2244,2246,2248,2250,2252,2254,2256,2258,2260,2262,2264,2266,2268,2270,2272,2274,2276,2278,2280,2282,2284,2286,2288,2290,2292,2294,2296,2298,2300,2302,2304,2306,2308,2310,2312,2314,2316,2318,2320,2322,2324,2326,2328,2330,2332,2334,2336,2338,2340,2342,2344,2346,2348,2350,2352,2354,2356,2358,2360,2362,2364,2366,2368,2370,2372,2374,2376,2378,2380,2382,2384,2386,2388,2390,2392,2394,2396,2398,2400,2402,2404,2406,2408,2410,2412,2414,2416,2418,2420,2422,2424,2426,2428,2430,2432,2434,2436,2438,2440,2442,2444,2446,2448,2450,2452,2454,2456,2458,2460,2462,2464,2466,2468,2470,2472,2474,2476,2478,2480,2482,2484,2486,2488,2490,2492,2494,2496,2498,2500,2502,2504,2506,2508,2510,2512,2514,2516,2518,2520,2522,2524,2526,2528,2530,2532,2534,2536,2538,2540,2542,2544,2546,2548,2550,2552,2554,2556,2558,2560,2562,2564,2566,2568,2570,2572,2574,2576,2578,2580,2582,2584,2586,2588,2590,2592,2594,2596,2598,2600,2602,2604,2606,2608,2610,2612,2614,2616,2618,2620,2622,2624,2626,2628,2630,2632,2634,2636,2638,2640,2642,2644,2646,2648,2650,2652,2654,2656,2658,2660,2662,2664,2666,2668,2670,2672,2674,2676,2678,2680,2682,2684,2686,2688,2690,2692,2694,2696,2698,2700,2702,2704,2706,2708,2710,2712,2714,2716,2718,2720,2722,2724,2726,2728,2730,2732,2734,2736,2738,2740,2742,2744,2746,2748,2750,2752,2754,2756,2758,2760,2762,2764,2766,2768,2770,2772,2774,2776,2778,2780,2782,2784,2786,2788,2790,2792,2794,2796,2798,2800,2802,2804,2806,2808,2810,2812,2814,2816,2818,2820,2822,2824,2826,2828,2830,2832,2834,2836,2838,2840,2842,2844,2846,2848,2850,2852,2854,2856,2858,2860,2862,2864,2866,2868,2870,2872,2874,2876,2878,2880,2882,2884,2886,2888,2890,2892,2894,2896,2898,2900,2902,2904,2906,2908,2910,2912,2914,2916,2918,2920,2922,2924,2926,2928,2930,2932,2934,2936,2938,2940,2942,2944,2946,2948,2950,2952,2954,2956,2958,2960,2962,2964,2966,2968,2970,2972,2974,2976,2978,2980,2982,2984,2986,2988,2990,2992,2994,2996,2998,3000,

In [ ]:
for i in range(1000,3001,2):
  print(i,end=',')

1000,1002,1004,1006,1008,1010,1012,1014,1016,1018,1020,1022,1024,1026,1028,1030,1032,1034,1036,1038,1040,1042,1044,1046,1048,1050,1052,1054,1056,1058,1060,1062,1064,1066,1068,1070,1072,1074,1076,1078,1080,1082,1084,1086,1088,1090,1092,1094,1096,1098,1100,1102,1104,1106,1108,1110,1112,1114,1116,1118,1120,1122,1124,1126,1128,1130,1132,1134,1136,1138,1140,1142,1144,1146,1148,1150,1152,1154,1156,1158,1160,1162,1164,1166,1168,1170,1172,1174,1176,1178,1180,1182,1184,1186,1188,1190,1192,1194,1196,1198,1200,1202,1204,1206,1208,1210,1212,1214,1216,1218,1220,1222,1224,1226,1228,1230,1232,1234,1236,1238,1240,1242,1244,1246,1248,1250,1252,1254,1256,1258,1260,1262,1264,1266,1268,1270,1272,1274,1276,1278,1280,1282,1284,1286,1288,1290,1292,1294,1296,1298,1300,1302,1304,1306,1308,1310,1312,1314,1316,1318,1320,1322,1324,1326,1328,1330,1332,1334,1336,1338,1340,1342,1344,1346,1348,1350,1352,1354,1356,1358,1360,1362,1364,1366,1368,1370,1372,1374,1376,1378,1380,1382,1384,1386,1388,1390,1392,1394,1396,1398,1400,1402,1404,1406,1408,1410,1412,1414,1416,1418,1420,1422,1424,1426,1428,1430,1432,1434,1436,1438,1440,1442,1444,1446,1448,1450,1452,1454,1456,1458,1460,1462,1464,1466,1468,1470,1472,1474,1476,1478,1480,1482,1484,1486,1488,1490,1492,1494,1496,1498,1500,1502,1504,1506,1508,1510,1512,1514,1516,1518,1520,1522,1524,1526,1528,1530,1532,1534,1536,1538,1540,1542,1544,1546,1548,1550,1552,1554,1556,1558,1560,1562,1564,1566,1568,1570,1572,1574,1576,1578,1580,1582,1584,1586,1588,1590,1592,1594,1596,1598,1600,1602,1604,1606,1608,1610,1612,1614,1616,1618,1620,1622,1624,1626,1628,1630,1632,1634,1636,1638,1640,1642,1644,1646,1648,1650,1652,1654,1656,1658,1660,1662,1664,1666,1668,1670,1672,1674,1676,1678,1680,1682,1684,1686,1688,1690,1692,1694,1696,1698,1700,1702,1704,1706,1708,1710,1712,1714,1716,1718,1720,1722,1724,1726,1728,1730,1732,1734,1736,1738,1740,1742,1744,1746,1748,1750,1752,1754,1756,1758,1760,1762,1764,1766,1768,1770,1772,1774,1776,1778,1780,1782,1784,1786,1788,1790,1792,1794,1796,1798,1800,1802,1804,1806,1808,1810,1812,1814,1816,1818,1820,1822,1824,1826,1828,1830,1832,1834,1836,1838,1840,1842,1844,1846,1848,1850,1852,1854,1856,1858,1860,1862,1864,1866,1868,1870,1872,1874,1876,1878,1880,1882,1884,1886,1888,1890,1892,1894,1896,1898,1900,1902,1904,1906,1908,1910,1912,1914,1916,1918,1920,1922,1924,1926,1928,1930,1932,1934,1936,1938,1940,1942,1944,1946,1948,1950,1952,1954,1956,1958,1960,1962,1964,1966,1968,1970,1972,1974,1976,1978,1980,1982,1984,1986,1988,1990,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020,2022,2024,2026,2028,2030,2032,2034,2036,2038,2040,2042,2044,2046,2048,2050,2052,2054,2056,2058,2060,2062,2064,2066,2068,2070,2072,2074,2076,2078,2080,2082,2084,2086,2088,2090,2092,2094,2096,2098,2100,2102,2104,2106,2108,2110,2112,2114,2116,2118,2120,2122,2124,2126,2128,2130,2132,2134,2136,2138,2140,2142,2144,2146,2148,2150,2152,2154,2156,2158,2160,2162,2164,2166,2168,2170,2172,2174,2176,2178,2180,2182,2184,2186,2188,2190,2192,2194,2196,2198,2200,2202,2204,2206,2208,2210,2212,2214,2216,2218,2220,2222,2224,2226,2228,2230,2232,2234,2236,2238,2240,2242,2244,2246,2248,2250,2252,2254,2256,2258,2260,2262,2264,2266,2268,2270,2272,2274,2276,2278,2280,2282,2284,2286,2288,2290,2292,2294,2296,2298,2300,2302,2304,2306,2308,2310,2312,2314,2316,2318,2320,2322,2324,2326,2328,2330,2332,2334,2336,2338,2340,2342,2344,2346,2348,2350,2352,2354,2356,2358,2360,2362,2364,2366,2368,2370,2372,2374,2376,2378,2380,2382,2384,2386,2388,2390,2392,2394,2396,2398,2400,2402,2404,2406,2408,2410,2412,2414,2416,2418,2420,2422,2424,2426,2428,2430,2432,2434,2436,2438,2440,2442,2444,2446,2448,2450,2452,2454,2456,2458,2460,2462,2464,2466,2468,2470,2472,2474,2476,2478,2480,2482,2484,2486,2488,2490,2492,2494,2496,2498,2500,2502,2504,2506,2508,2510,2512,2514,2516,2518,2520,2522,2524,2526,2528,2530,2532,2534,2536,2538,2540,2542,2544,2546,2548,2550,2552,2554,2556,2558,2560,2562,2564,2566,2568,2570,2572,2574,2576,2578,2580,2582,2584,2586,2588,2590,2592,2594,2596,2598,2600,2602,2604,2606,2608,2610,2612,2614,2616,2618,2620,2622,2624,2626,2628,2630,2632,2634,2636,2638,2640,2642,2644,2646,2648,2650,2652,2654,2656,2658,2660,2662,2664,2666,2668,2670,2672,2674,2676,2678,2680,2682,2684,2686,2688,2690,2692,2694,2696,2698,2700,2702,2704,2706,2708,2710,2712,2714,2716,2718,2720,2722,2724,2726,2728,2730,2732,2734,2736,2738,2740,2742,2744,2746,2748,2750,2752,2754,2756,2758,2760,2762,2764,2766,2768,2770,2772,2774,2776,2778,2780,2782,2784,2786,2788,2790,2792,2794,2796,2798,2800,2802,2804,2806,2808,2810,2812,2814,2816,2818,2820,2822,2824,2826,2828,2830,2832,2834,2836,2838,2840,2842,2844,2846,2848,2850,2852,2854,2856,2858,2860,2862,2864,2866,2868,2870,2872,2874,2876,2878,2880,2882,2884,2886,2888,2890,2892,2894,2896,2898,2900,2902,2904,2906,2908,2910,2912,2914,2916,2918,2920,2922,2924,2926,2928,2930,2932,2934,2936,2938,2940,2942,2944,2946,2948,2950,2952,2954,2956,2958,2960,2962,2964,2966,2968,2970,2972,2974,2976,2978,2980,2982,2984,2986,2988,2990,2992,2994,2996,2998,3000,

quiz

In [ ]:
fruits = ['apple','banana','cherry']
fruits.append('orange')
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits = {'apple', 'banana', ' cherry'}
first_fruit, *rest_of_fruits = fruits
print(first_fruit, rest_of_fruits)

apple [' cherry', 'banana']

In [ ]:
fruits = ('apple','banana', 'cherry')
reversed_fruits = tuple(reversed(fruits))
print(reversed_fruits)

('cherry', 'banana', 'apple')

In [ ]:
person = {'name': 'john', 'age':25, 'city':'newyork'}
age = person.pop('age')
person['age'] = age+1
print(person)

{'name': 'john', 'city': 'newyork', 'age': 26}

In [ ]:
a = {'apple', 'banana', 'cherry'}
a.discard('banana')
print(a)

{'cherry', 'apple'}

In [ ]:
z = {'name':'alice', 'age':30, 'city':'londan'}
z.update({'age': 31, 'city':'newyork'})
print(z)

{'name': 'alice', 'age': 31, 'city': 'newyork'}

In [ ]:
numbers=[1,2,3,4,5]
print(numbers[5])

IndexError: list index out of range

In [ ]:
number = [1,2,3,4,5]
number.append(number.pop(1))
print(number)

[1, 3, 4, 5, 2]

In [ ]:
stud ={'name':'john', 'age':20, 'grade':'A'}
stud['city'] = 'newyork'
stud['age']= 21
print(stud)

{'name': 'john', 'age': 21, 'grade': 'A', 'city': 'newyork'}

In [ ]:
f= {'apple', 'banana', 'cherry'}
print(f(1))

TypeError: 'set' object is not callable

In [ ]:
frut = ('apple','banana','cherry')
frut = frut + ('orange',)
frut

('apple', 'banana', 'cherry', 'orange')

In [ ]:
num = [1,2,3,4,5]
num.append(6)
num.remove(2)
print(num)

[1, 3, 4, 5, 6]

In [ ]:
fruts= ['apple', 'banana', 'cherry']
fruts.append('orange')
print(fruts)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
set1 = {1,2,3}
set2={3,4,5}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
def foo(lst):
  lst.append(4)
  my_list = [1,2]