<a href="https://colab.research.google.com/github/HARSHADA02/Python/blob/main/Expression_%26_flow_control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+2

4

In [ ]:
boat_side = "right"
missionaries_on_right = 3
cannibals_on_right = 3
missionaries_on_left = 0
cannibals_on_left = 0
while True :

    if boat_side == "right":
        print("M = ",missionaries_on_left, "C =",cannibals_on_left, "|-----B|", "M = ", missionaries_on_right , "C = ", cannibals_on_right)
    elif boat_side == "left":
        print("M = ",missionaries_on_left, "C =",cannibals_on_left, "|B-----|", "M = ", missionaries_on_right , "C = ", cannibals_on_right)



    missionaries = int(input("Enter the Missionaries:"))
    cannibals = int(input("Enter the cannibals:"))

    people = missionaries + cannibals
    if people < 1 and people > 2:
        print("invalid move 1")
        continue

    if boat_side == "right" :
      if missionaries > missionaries_on_right or cannibals > cannibals_on_right:
           print("invalid move 2")
           continue

    cannibals_on_right  = cannibals_on_right - cannibals
    cannibals_on_left = cannibals_on_left + cannibals
    missionaries_on_right = missionaries_on_right - missionaries
    missionaries_on_left = missionaries_on_left +missionaries

    if boat_side == "left":
        print("M = ", missionaries_on_left, "C = ", cannibals_on_left, "|B-----|", "M = ", missionaries_on_right, "C = ", cannibals_on_right)

    else:
      if missionaries >= missionaries_on_left or cannibals >= cannibals_on_left:
          print("invalid move 2")
          continue


      missionaries_on_left = missionaries_on_left - missionaries
      missionaries_on_right = missionaries_on_right + missionaries
      cannibals_on_left = cannibals_on_left - cannibals
      cannibals_on_right = cannibals_on_right + cannibals
      boat_side =="right"

    if missionaries <= cannibals_on_right and missionaries_on_right >= 0:
      print("You Lose")
      break

    if missionaries <= cannibals_on_left and missionaries_on_left >= 0:
      print("You Lose")
      break

    if missionaries_on_left== 3 and cannibals_on_left == 3:
      print("You Win")
      break

    print("Game Over")

M =  0 C = 0 |-----B| M =  3 C =  3
Enter the Missionaries:0
Enter the cannibals:2
invalid move 2
M =  0 C = 2 |-----B| M =  3 C =  1

KeyboardInterrupt: Interrupted by user

In [ ]:
2

In [ ]:
boat_side = "right"
missionaries_on_right = 3
cannibals_on_right = 3
missionaries_on_left = 0
cannibals_on_left = 0

def print_state():
    if boat_side == "right":
        print(f"M = {missionaries_on_left} C = {cannibals_on_left} |-----B| M = {missionaries_on_right} C = {cannibals_on_right}")
    else:
        print(f"M = {missionaries_on_left} C = {cannibals_on_left} |B-----| M = {missionaries_on_right} C = {cannibals_on_right}")

print_state()

while True:
    missionaries = int(input("Enter the number of Missionaries to move (0-2): "))
    cannibals = int(input("Enter the number of Cannibals to move (0-2): "))

    total = missionaries + cannibals
    if total < 1 or total >2:
        print("Invalid move: You must move 1 or 2 people.")
        continue

    if boat_side == "right":
        if missionaries > missionaries_on_right or cannibals > cannibals_on_right:
            print("Invalid move: Not enough people on the right side.")
            continue

        # Move to left
        missionaries_on_right -= missionaries
        cannibals_on_right -= cannibals
        missionaries_on_left += missionaries
        cannibals_on_left += cannibals
        boat_side = "left"

    else: # boat is on the left
        if missionaries > missionaries_on_left or cannibals > cannibals_on_left:
            print("Invalid move: Not enough people on the left side.")
            continue

        # Move to right
        missionaries_on_left -= missionaries
        cannibals_on_left -= cannibals
        missionaries_on_right += missionaries
        cannibals_on_right += cannibals
        boat_side = "right"


    print_state()

    # Check lose condition on right
    if missionaries_on_right > 0 and cannibals_on_right > missionaries_on_right:
        print("You Lose: Cannibals ate the missionaries on the right side!")
        break

    # Check lose condition on left
    if missionaries_on_left > 0 and cannibals_on_left > missionaries_on_left:
        print("You Lose: Cannibals ate the missionaries on the left side!")
        break

    # Win condition
    if missionaries_on_left == 3 and cannibals_on_left == 3:
        print("Congratulations! You Win!")
        break

print("Game Over")

M = 0 C = 0 |-----B| M = 3 C = 3
Enter the number of Missionaries to move (0-2): 0
Enter the number of Cannibals to move (0-2): 2
M = 0 C = 2 |B-----| M = 3 C = 1
Enter the number of Missionaries to move (0-2): 0
Enter the number of Cannibals to move (0-2): 1
M = 0 C = 1 |-----B| M = 3 C = 2
Enter the number of Missionaries to move (0-2): 0
Enter the number of Cannibals to move (0-2): 2
M = 0 C = 3 |B-----| M = 3 C = 0
Enter the number of Missionaries to move (0-2): 0
Enter the number of Cannibals to move (0-2): 1
M = 0 C = 2 |-----B| M = 3 C = 1
Enter the number of Missionaries to move (0-2): 2
Enter the number of Cannibals to move (0-2): 0
M = 2 C = 2 |B-----| M = 1 C = 1
Enter the number of Missionaries to move (0-2): 1
Enter the number of Cannibals to move (0-2): 1
M = 1 C = 1 |-----B| M = 2 C = 2
Enter the number of Missionaries to move (0-2): 2
Enter the number of Cannibals to move (0-2): 0
M = 3 C = 1 |B-----| M = 0 C = 2
Enter the number of Missionaries to move (0-2): 0
Enter the number of Cannibals to move (0-2): 1
M = 3 C = 0 |-----B| M = 0 C = 3
Enter the number of Missionaries to move (0-2): 0
Enter the number of Cannibals to move (0-2): 2
M = 3 C = 2 |B-----| M = 0 C = 1
Enter the number of Missionaries to move (0-2): 0
Enter the number of Cannibals to move (0-2): 1
M = 3 C = 1 |-----B| M = 0 C = 2
Enter the number of Missionaries to move (0-2): 0
Enter the number of Cannibals to move (0-2): 2
M = 3 C = 3 |B-----| M = 0 C = 0
Congratulations! You Win!
Game Over

In [ ]:
11122#####final code ####
### Your code ###
boat_side = "right"
missionaries_on_right = 3
cannibals_on_right = 3
missionaries_on_left = 0
cannibals_on_left = 0

print("M = ",missionaries_on_left, "C =",cannibals_on_left, "|-----B|", "M = ", missionaries_on_right , "C = ", cannibals_on_right)

while True :

  missionaries = int(input("Enter the Missionaries:"))
  cannibals = int(input("Enter the cannibals:"))

  people = missionaries + cannibals
  if people ==1 and people == 2:
    print("invalid move 1")
    continue

  if boat_side == "right" :
    print("right baot is on right side")
  else:
    print("left side")

  if missionaries >= missionaries_on_right:
    print("invalid move 2")
  elif cannibals >= cannibals_on_right:
    print("invalid move 2")
    continue

  cannibals_on_right  = cannibals_on_right - cannibals
  cannibals_on_left = cannibals_on_left + cannibals
  missionaries_on_right = missionaries_on_right - missionaries
  missionaries_on_left = missionaries_on_left +missionaries

  "M = ", missionaries_on_left, "C = ", cannibals_on_left, "|B-----|", "M = ", missionaries_on_right, "C = ", cannibals_on_right

  if boat_side == "left" :
    print("left baot is on left side")
  else:
    print("right side")

  if missionaries >= missionaries_on_left or cannibals >= cannibals_on_left:
    print("invalid move 2")
    continue


  missionaries_on_left = missionaries_on_left - missionaries
  missionaries_on_right = missionaries_on_right + missionaries
  cannibals_on_left = cannibals_on_left - cannibals
  cannibals_on_right = cannibals_on_right + cannibals

  "M = ", missionaries_on_left , "C = ", cannibals_on_left, "|------B|", "M = ", missionaries_on_right, "C = ", cannibals_on_right

  if missionaries <= cannibals_on_right and missionaries_on_right >= 0:
    print("You Lose")
    break
  elif missionaries <= cannibals_on_left and missionaries_on_left >= 0:
    print("You Lose")
    break

  if missionaries_on_left== 3 and cannibals_on_left == 3:
    print("You Win")
    break

print("Game Over")

In [ ]:
1+2*3

7

In [ ]:
(1+2)*3

9

In [ ]:
123456789*456789

56393703190521

In [ ]:
10+2*3-4/2

14.0

Python

In [ ]:
(20%3)+(5**2//4)

8

In [ ]:
((3+5)*2-4)**2/8

18.0

In [ ]:
2+3*4

14

In [ ]:
(2+3)*4

20

In [ ]:
10/2+5*2

15.0

In [ ]:
(5+10)*3**2

135

In [ ]:
(5+10)*3**2

135

In [ ]:
((5+5)*2)-(3**2)

11

In [ ]:
(((2+3)*4)**2-(10//3))%7

5

In [ ]:
10-4+2

8

In [ ]:
2**3**2

512

In [ ]:
(4-1)*((7+3)/(3-1))

15.0

In [ ]:
56 % 7 * - 2

0

In [ ]:
40 + 5 * 2



#SyntaxError: invalid syntax

50

In [ ]:
'ai'+" " + 'adventures'  # Result: 'aiadventures'

'ai adventures'

In [ ]:
'harshada'*5

'harshadaharshadaharshadaharshadaharshada'

In [ ]:
10-5

5

In [ ]:
7*3

21

In [ ]:
-8+12

4

In [ ]:
33.9*15

508.5

In [ ]:
5.5/2

2.75

In [ ]:
-4.2+3.1

-1.1

In [ ]:
"hello world"

'hello world'

In [ ]:
"1" *5

'11111'

In [ ]:
"ai" + "adventures"

'aiadventures'

In [ ]:
"ai " + "adventures"

'ai adventures'

In [ ]:
  "ai " * 5

'ai ai ai ai ai '

In [ ]:
a = 26
print(a)

26

In [ ]:
print(a+5)

31

In [ ]:
c = a+5
print(c)

31

In [ ]:
apples = 9
balls = 2

print((int(apples + balls)) ** 2)  # Result: 121
print(apples // balls)        # Result: 4

121
4

In [ ]:
apples = input("enter the number of aaples")
print(apples)

enter the number of aaples10
10

In [ ]:
var = 10
print(var)

10

In [ ]:
print(var*2)

20

In [ ]:
cars = 12
bikes = 25
(cars+bikes)

37

In [ ]:
(cars-bikes)*2

-26

In [ ]:
print("hello world")
print

hello world

In [ ]:
a=input("enter a value")

enter a value10

In [ ]:
print(a)

10

In [ ]:
myname = input("what is your name?")
print('It is good to meet you,' +" "+ myname)

what is your name?harshada
It is good to meet you, harshada

In [ ]:
var = 43
var = 49
print(var)

49

In [ ]:
string = " harshda"
string =" ai "
print(string)

 ai

In [ ]:
myName = 'Harshada'
print('The length of your name is:')
print(len(myName))  # where myName is a variable containing a string

# Additional Examples:
print(len('hello'))        # Returns 5
len('I am happy.')  # Returns 11
len('')             # Returns 0

The length of your name is:
8
5

0

In [ ]:
# This program says hello and asks for my name.
print('Hello world!')
print('What is your name?')    # ask for their name
myName = input()  # stores the input from the user in 'myName'
print('It is good to meet you, ' + myName)
print('The length of your name is:')
print(len(myName))  # displays the length of the name entered by the user
print('What is your age?')    # ask for their age
myAge = input()  # stores the input from the user in 'myAge'
print('You will be ' + str(int(myAge) + 1) + ' in a year.')  # calculates the user's age next year

Hello world!
What is your name?
harshada
It is good to meet you, harshada
The length of your name is:
8
What is your age?
26
You will be 27 in a year.

In [ ]:
print('I am ' + str(24) + ' years old.')

I am 24 years old.

In [ ]:
print("The length of your name is:")

The length of your name is:

In [ ]:
myname = "Harshada"
print("The length of your name is:" )
print(len(myname))

The length of your name is:
8

In [ ]:
print(len("harshada"))

8

In [ ]:
print("hello world")
print("what is your name?")
myname = input()
print("It is good to meet you," +myname)
print("The length of your name is:")
print(len(myname))
print("what is your age?")
myage = input()
print("you will be " + str(int(myage)+1)  + ' in a year.')

hello world
what is your name?
Harshada
It is good to meet you,Harshada
The length of your name is:
8
what is your age?
25
you will be 26 in a year.

In [ ]:
print("i am " + str(24) + " years old")

i am 24 years old

In [ ]:
a= 101
converted = int(a)
print(a)

101

In [ ]:
8-(3*2)-(1+1)

0

In [ ]:
1500*9.5*20

285000.0

In [ ]:
P=1500
R=9.5
T=20
SI=P*R*T
print(SI)

285000.0

In [8]:
i=1
i+=1
i

2

In [ ]:
i = "i love python!"

print(i)

i love python!

In [ ]:
P=1500
r=0.043
n=4
t=6
CI = P*(1+r/n)**n*t
print(CI)

9393.285217879726

In [ ]:
c=253
F=(c*9/5)+32
print(F)

487.4

In [ ]:
a=input()
b=input()
print(a +" " + b)

harshada
wakchaure
harshada wakchaure

In [ ]:
a= "Jan"
b= 1999
c= (a +" " +str(int(b)))
print(c)
print("The length of " , len(c))

Jan 1999
The length of  8

In [ ]:
team = "mi"
num = 4
print(team * num)

mimimimi

In [ ]:
height = int(input("Enter the height : "))
weight = int(input("Enter the weight : "))
age = int(input("Enter the age : "))
num = int(input("Enter the num : "))
a= height /num
b= weight // num
c= age ** num
print(a+b+c)

Enter the height : 5
Enter the weight : 48
Enter the age : 26
Enter the num : 2
702.5

In [ ]:
print("Welcome " + " to " + " AIAdventures!")

Welcome  to  AIAdventures!

In [ ]:
print("python" + " is powerful!")

python is powerful!

In [ ]:
string = "hello" + "!" *3
print(string)

hello!!!

In [ ]:
print("Welcome " + "to "+ " channel!")

Welcome to  channel!

In [ ]:
x=2
y=3
z=x+y*2
print(z)

8

In [ ]:
a=4
print(a)

4

In [ ]:
c=a+b
a=6
b=5
print(c)

11

In [ ]:

a=2
b=3
d=a+b
print(d)

5

In [ ]:

s=6
h=4
p=s+h
print(p)

10

In [ ]:
str = "I love Python!"
print(str)

I love Python!

In [ ]:
result_true = 5 + True
print(result_true)

6

In [ ]:
a=3
b=5
c=a/b
print(c)

0.6

In [ ]:
p=6
q=0
v=p/q
print(v)

ZeroDivisionError: division by zero

In [ ]:
True and True

True

In [ ]:
(1>2) and (55>54)

False

In [2]:
(55/2) and True

True

In [ ]:
not (10>5)

False

In [ ]:
networth=int(input("Enter the net worth of Mark Zuckerberg"))
if networth == 54500000000:
   print("That's 54.5 billion!")
elif networth < 54500000000:
    print("That's not much!")
elif networth > 54500000000:
    print("I'll make more when I graduate")

Enter the net worth of Mark Zuckerberg545000000
That's not much!

In [ ]:
100+100*0.15

115.0

In [ ]:
cost = int(input("Enter the cost price:"))
if cost >= 100000:
  print("Total price of the bike including the tax:" , cost+cost*0.15)
elif cost> 50000 and cost<= 100000:
  print("Total price of the bike including the tax:" , cost+cost*0.10)
elif cost <= 50000:
  print("Total price of the bike including the tax:" , cost+cost*0.5)

Enter the cost price:70000
Total price of the bike including the tax: 77000.0

In [ ]:
a=int(input("Enter the number of classes held:"))
b=int(input("Enter the number of classes attendece"))
per = (a/b)*100
if per >=75:
  print("Allowed to sit for the exams.")
else:
  print("Not allowed.")

Enter the number of classes held:75
Enter the number of classes attendece50
Allowed to sit for the exams.

In [ ]:
age=int(input("Enter your age:"))
gender=input("Enter your Gender:")

if (age >= 18 and age < 30) and gender == 'M' :
  print("The wages of a worker is 700")
elif (age >= 18 and age < 30) and gender == 'F':
    print("The wages of a worker is 750")
elif (age >= 30 and age <= 40)  and gender == 'M':
    print("The wages of a worker is 800")
elif (age >= 30 and age <= 40) and gender == 'F':
    print("The wages of a worker is 850")

Enter your age:40
Enter your Gender:M
The wages of a worker is 800

In [ ]:
is_leap_yr = int(input("Enter the year:"))
if (is_leap_yr / 4 == 0 and is_leap_yr / 100 != 0) or (is_leap_yr / 400 == 0):
  print("this is leap year:", is_leap_yr)
else:
  print("this is not leap year")

Enter the year:2016
this is not leap year

In [ ]:
days= int(input("Enter the days:"))

if days <= 5:
  print("the cost of days are:", days*2)
elif days >=6 and days <=10:
  print("the cost of days are:", days*3)
elif days >=11 and days <=15:
  print("the cost of days are:", days*4)
elif days >=15:
  print("the cost of days are", days*5)

Enter the days:18
the cost of days are 90

In [ ]:
units=int(input("enter the units"))
if units >=0 and units <=100:

 print("free")
elif units >=101 and units <=300:
  print("electric units" ,(units-100)*2)
elif units >=301:
  print("electric units", ((200)*2)+(units-300)*5)

enter the units500
electric units 1400

In [ ]:
z=7
if z>5:
  print('greater than 5')
  if z==7:
    print("equal to 7")

greater than 5
equal to 7

In [ ]:
a=8
b=3
if a/2 == 0 and b/2 !=0:
  print("cond 1")
elif a/2 != 0 and b/2==0:
  print("cond 2")
else:
  print("cond 3")

cond 3

In [ ]:
y=10
if y%2 == 0:
  print("even")
elif y%3 == 0:
  print("divisible by 3")
else:
  print("neither")

even

In [ ]:
grade = 85
if grade >= 90:
  letter_grade = "A"
if grade >= 80:
  letter_grade = "B"
if grade >=70:
  letter_grade = "C"
else:
  letter_grade = "F"
print(letter_grade)

C

In [ ]:
num = 12
if num >10:
    result = "greater than 10"
else:
     result = "less than or equal to 10"
print(result)

greater than 10

In [ ]:
i = 0
if i <= 5:
  print(i)

0

In [ ]:
True and True

True

In [ ]:
networth = int (input("Enter the networth of Mark Zuckerberg "))
if networth == 54500000000:
  print("thats 54.5 billion")
elif networth <= 54500000000:
  print("thats not much")

Enter the networth of Mark Zuckerberg 5450000000
thats not much

In [ ]:
classesheld = int(input("enter a classes held "))

In [ ]:
2024/400

5.06

In [ ]:
2024/4

506.0

In [ ]:
units = int(input("enter the electric units"))
if units >=0 and units <= 100:
  print("free")
elif unit >= 101 and units <= 300:
  print("electric units:", (units -100)*2)
elif units >= 201 and

loops

In [ ]:
i = 0
if i <= 5:
  print(i)
  i = i +1

0

In [ ]:
i = 0
while i <= 5:
  print (i)
  i = i +1

0
1
2
3
4
5

In [ ]:
n= 1
while n<5:
  print(n)
  n += 1

1
2
3
4

In [ ]:
i = 2
while i <= 10:
  print(i)
  i +=2

2
4
6
8
10

In [ ]:
num = 98765
count = 0

while num > 0:
  count += 1
  num = num // 10
  print(num)

  print ("number of digits:" , count)

9876
number of digits: 1
987
number of digits: 2
98
number of digits: 3
9
number of digits: 4
0
number of digits: 5

In [ ]:
num = int(input ("enter the number"))
i = 2
is_prime = True
while i < num :
  if num % i == 0:
    is_prime = False
    break
  i += 1
if is_prime and num > 1:
  print(num, "is a prime number")
else:
  print(num, "is not a prime number")

enter the number25
25 is not a prime number

In [ ]:
x = 10
while x <= 20:
  if x % 5== 0:
    print(x)
  x += 1

10
15
20

In [ ]:
x= 10
while x <= 20:
  if x % 2 ==0:
   print(x)
  x += 1

10
12
14
16
18
20

In [ ]:
word = "hello"
for char in word:
  print(char)

h
e
l
l
o

In [ ]:
for letter in "012345":
  print(letter)

0
1
2
3
4
5

In [ ]:
range(6)

range(0, 6)

In [ ]:
range(2,12,2)

range(2, 12, 2)

In [ ]:
range(1, 6)

range(1, 6)

In [ ]:
for i in range(1,6):
      print(i)

1
2
3
4
5

In [ ]:
for x in range(10, 21):
  if x % 5 == 0:
    print(x)

10
15
20

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
print("using end='&':")
for i in range(1,4):
  print(i, end='&')

using end='&':
1&2&3&

In [ ]:
a = ["harshada","aiadventures","prajakta"]
for i in a:
  for j in i:
    print(j)

h
a
r
s
h
a
d
a
a
i
a
d
v
e
n
t
u
r
e
s
p
r
a
j
a
k
t
a

In [ ]:
for i in range(3):
  for j in range(3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [ ]:
c= ["english", "hindi", "marathi"]
for i in c:
  for j in i:
    print(j)

e
n
g
l
i
s
h
h
i
n
d
i
m
a
r
a
t
h
i

In [ ]:
d=["123", '2', '3', '4']
for i in d:
  for j in i:
   print(j)

1
2
3
2
3
4

In [ ]:
range(1, 6)

range(1, 6)

In [ ]:
x = 20
while x >= 0:
  if x % 2 == 0 :
    print(x)
  x -= 1

20
18
16
14
12
10
8
6
4
2
0

In [21]:

for i in range(20, -1, -2):
  print(i)

20
18
16
14
12
10
8
6
4
2
0

In [ ]:
i=20
while i <= 40:
  print(i, end= "-")
  i+=5

20-25-30-35-40-

In [ ]:
i = 20
while i <= 40:
  if i % 5==0:
    print(i, end= "-")
  i+=1

20-25-30-35-40-

In [22]:
for i in range(20,41,5):
  print(i, end= "-")

20-25-30-35-40-

In [ ]:
for i in range(1, 6):
 print(i**3)

1
8
27
64
125

In [ ]:
i =1
while i <= 5:
  j = i**3
  print(j)
  i+=1

1
8
27
64
125

In [26]:
fact =1
for i in range(1,6):
  fact = fact * i
fact

120

In [37]:
x = 1
fact = 1
while x <= 5:
  fact = fact * x
  print(fact)
  x+=1

1
2
6
24
120

In [ ]:
a = ''
all_sum =0
while a != 0:
  a= int(input())
  all_sum += a
all_sum

6
67
0

73

In [44]:
a =  ' '
sum = 0
while a != 0:
  a = int(input())
  sum +=a
sum

5
6
2
1
0

14

In [ ]:
a = (" ")
sum=0
while a!= 0:
  a=int(input())
  sum += a
sum

5
5
0

10

In [ ]:
n=int(input())
for i in range(1,n):
   print( '2'*i, end= ",")

6
2,22,222,2222,22222,

In [ ]:
for i in range(6, 16):
  if i%5 == 0:
   break
print(i)

10

In [ ]:
x= 6
while x <= 16:
  if x % 5 == 0:
    print(x)
    break
  x+=1

10

In [ ]:
# Print numbers from 0 to 4
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
x = 7
if x < 10:
    print('Less than 10')  # Block 1
    if x > 5:
        print('Also greater than 5')  # Nested Block

Less than 10
Also greater than 5

In [ ]:
True and True

True

In [ ]:
(1>2) and (55<54)

False

In [ ]:
(55/2) and True

True

In [ ]:
not(10>5)

False

In [ ]:
age = int(input("enter the age:"))
gender= input("enter the gender:")
if (age >= 18 and  age < 30) and gender == "M":
  print("daily wages is 700")
elif (age >= 18 and age < 30 ) and gender =="F":
  print("daily wages is 750")
elif (age >= 30 and age <= 40) and gender == "M":
  print("daily wages is 800")
elif (age >= 30 and age <= 40) and gender == "F":
  print("daily wages is 850")

enter the age:35
enter the gender:M
daily wages is 800

In [ ]:
leap_yr = int(input("enter the year:"))
if (leap_yr / 4 == 0 and leap_yr / 100 != 0) or (leap_yr % 400 == 0 ):
  print("this is leap_yr")
else:
    print("this is not leap_yr")

enter the year:2022
this is not leap_yr

In [ ]:
days = int(input("enter the number of days:"))
if days > 0 and days <= 5:
  print("the cost of days:", days*2)
elif days >= 6 and days <= 10:
  print("the cost of days :", days*3)
elif days >= 11 and days <= 15:
  print("the cost of days :", days*4)
elif day >= 15:
  print("the cost of days ;", days*5)

enter the number of days:15
the cost of days : 60

In [ ]:
units = int(input("enter the units:"))
if units >= 0 and units <= 100:
  print("free")
elif units >= 101 and units <= 300:
  print("the cost per unit Bill", (units-100)*2)
elif units >= 301 :
  print("the cost per unit Bill", (200*2) +(units-300)*5)

enter the units:305
the cost per unit Bill 425

In [ ]:
age = int(input("enter ypur age:"))
if age <= 16:
  print("you are child")
if age >= 18:
   print("you are eligible for driving licence.")
   if age >= 21:
      print("you are eligible for shadi.com")
      if age >= 25:
         print("you are eligible for bitcoin.")

enter ypur age:23
you are eligible for driving licence.
you are eligible for shadi.com

In [ ]:
age = int(input("enter ypur age:"))
if age <= 16:
  print("you are child")
elif age >= 18 and age <=20:
   print("you are eligible for driving licence.")
elif age >= 21 and age <= 24:
    print("you are eligible for shadi.com")
elif age >= 25:
     print("you are eligible for bitcoin.")

enter ypur age:21
you are eligible for shadi.com

In [ ]:
x = 5
y = 10
if x == 5 and not y > 20:
  print("x is 5 and y is not greater than 20")
else:
  print("either x is not 5 or y is greater than 20")

x is 5 and y is not greater than 20

In [ ]:
x = 0
while x < 10:
  if x % 2 == 0:
    x+=1
    continue
  print(x)
  x+=1

1
3
5
7
9

In [ ]:
a= True
b= False
c= False
print(a or b and c)

True

In [ ]:
x= 0
for i in range(1,4):
  x+=i
print(x)

6

In [2]:
your_var = 10
print(your_var)

10

In [6]:
unit = int(input())
if unit <= 100:
  print("free")
elif unit >= 101 and unit <= 300:
  print("bill", (unit-100)*2)
elif unit > 300:
  print("bill", (200*2)+(unit-300)*5)

305
bill 425

In [7]:
i= 1
i  +=1
i

2

In [84]:
n = int(input())
for i in range(1 , n):
  print('The Multiplication Table of ' , i)
  for j in range(1,11):
    k =  i * j
    print(i, "x", j, "=", k)

5
The Multiplication Table of  1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
The Multiplication Table of  2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
The Multiplication Table of  3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
The Multiplication Table of  4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [110]:
x = 1
n = int(input())
while x <= n:
 print("Enter the Multiplication of ", x)
 a = 1
 while a <= 10:
    z= x*a
    print(x , "x" ,a, "=", z )
    a+=1
 x+=1

4
Enter the Multiplication of  1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Enter the Multiplication of  2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Enter the Multiplication of  3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Enter the Multiplication of  4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [98]:
x = 1
while x <= 10:
  print(x)
  a = 15
  while a <22:
    print(x ,a )
    a+=1
  x+=1

1
1 15
1 16
1 17
1 18
1 19
1 20
1 21
2
2 15
2 16
2 17
2 18
2 19
2 20
2 21
3
3 15
3 16
3 17
3 18
3 19
3 20
3 21
4
4 15
4 16
4 17
4 18
4 19
4 20
4 21
5
5 15
5 16
5 17
5 18
5 19
5 20
5 21
6
6 15
6 16
6 17
6 18
6 19
6 20
6 21
7
7 15
7 16
7 17
7 18
7 19
7 20
7 21
8
8 15
8 16
8 17
8 18
8 19
8 20
8 21
9
9 15
9 16
9 17
9 18
9 19
9 20
9 21
10
10 15
10 16
10 17
10 18
10 19
10 20
10 21