<a href="https://colab.research.google.com/github/HARSHADA02/Python/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def show():
  print("hello")

show()

hello

In [ ]:
def sum(a,b):
  return a+b

sum(100,3)

103

In [ ]:
def fibonacci(N, a=0, b=1):
    counter = 0
    while counter < N:
        a, b = b, a + b # a = b, b = a + b (Swapping Logic)
        print(a, end=' ')
        counter += 1

# Using default values for a and b
fibonacci(10)
# Expected Output: 1 1 2 3 5 8 13 21 34 55

1 1 2 3 5 8 13 21 34 55

In [ ]:
def val_pp(val):
    # This function takes a parameter 'val' and returns three values:
    # val, val + 1, and val + 2.
    return val, val + 1, val + 2

# Capture the returned values into separate variables
r, i, c = val_pp(3)
print(r, i, c)  # Output: 3 4 5

In [ ]:
def cube(a = 4):
  return a**3

cube()

64

In [ ]:
def add_numbers(a=5, b=5):
  result = a + b
  return(result)

In [ ]:
def add_numbers(a):  # def keyword, function name, and parameters
    # Function body: adds two numbers
  result = a + 10
  return result
  print(result)

In [ ]:
add_numbers(5)

15

In [ ]:
def add(a, b):
      print( a + b)
result = add(5, 3)
print(result)

8
None

In [ ]:
add_numbers('harshada ','waghchaure')

'harshada waghchaure'

In [ ]:
def hi(a,b):
  print (a+b)
result = add(5,3)
print(result)

8

In [ ]:
sum_result = add_numbers(5,3)
print(sum_result)

8

In [ ]:
def add(a, b):
  return a + b
result = add(5, 3)
result

8

In [ ]:
def add(a, b):
  return a + b
def sub(a, b):
  return a- b
def multiply(a, b):
  return a * b
def divide(a, b):
  if  b != 0:
    return a / b
  else:
      return "cannot divide by zero"

In [ ]:
add1=add(5, 6)

In [ ]:
sub(7,9)

-2

In [ ]:
add1

11

In [ ]:
def fibonacci(N , a= 0, b=1):
  counter = 0
  while counter < N:
    a, b = b, a+b
    print(a, end = " ")
    counter +=1
fibonacci(10)

1 1 2 3 5 8 13 21 34 55

In [ ]:
def fibonacci(N, a=0, b=1):
  counter = 0
  while counter < N:
    a, b=b, a+b
    print(a, end =" ")
    counter +=1
fibonacci(10, 2, 5)

5 7 12 19 31 50 81 131 212 343

In [ ]:
def fibonacci(N, a=0, b=1):
  counter = 0
  while counter < N:
    a, b=b , a+b
    print(a, end= " ")
    counter += 1
fibonacci(10, b=3, a=1)

3 4 7 11 18 29 47 76 123 199

In [ ]:
def val_pp(val):
  return val, val +1, val+2
r, i, c = val_pp(3)
print(r, i, c)

3 4 5

In [ ]:
def factorial(number):
  fact =1
  while number<=5:
    fact = fact * number
  print(fact)
  number +=1

out = factorial(5)
out

KeyboardInterrupt:

In [ ]:
def factorial(num):
  fact = 1
  x = 1
  while x <= 5:
    fact = (fact * x )
    x += 1
  return fact

In [ ]:
factorial(5)

120

In [ ]:

?function-name

Object `function-name` not found.

In [ ]:
def cube(a):
  return a**3

  cube(a)

In [ ]:
cube(a=4)

64

In [ ]:
def square(n1 = 1, n2= 2):
  sum = (n1**2) + (n2**2)
  return sum
square( )

5

In [ ]:
def factorial(number):
  x =1
  fact = 1
  while x <= 5:
    fact = fact * x
    x += 1
  return fact

In [ ]:
factorial(10)

120

In [ ]:
def string_concatenation(s1 = "ai", s2= "adventures", s3= 3):
   return (s1 + s2) *s3

string_concatenation( )

'aiadventuresaiadventuresaiadventures'

In [ ]:
def string_concat(s1= "ai", s2='', s3 = 3):
  if s3 == 3:
    s = (s1+s2)*s3
    print(s, end = "")
string_concat(s1= "ai", s2="adventures", s3= 3)

aiadventuresaiadventuresaiadventures

In [ ]:
def calculate_area(b, h, s):
   b = 2
   h = 6
   if s == "rectangle":
    print(b*h)
   elif s=="triangle":
      print(0.5*b*h)

calculate_area(2, 6,"trianghjk")

In [ ]:
def calculate_area_rectangle(b, h):
     return b * h
def calculate_area_triangle(b, h):
     return 0.5* b * h

calculate_area_triangle(2, 6)

6.0

In [ ]:
def none_value_assignment(s1 = input(), s2= input()):
    s= s1 + s2
    print(s)

var1 = none_value_assignment()
type(var1)

var2 = none_value_assignment("ai", "adventures")

type(var2)

h
w
hw
aiadventures

NoneType

In [ ]:
n= 5
a = 1 + 1/(n+1)+ 1/(n+1)!

SyntaxError: invalid syntax (ipython-input-965415095.py, line 2)

In [ ]:
def cube(a):

  return a**3

cube(a)

NameError: name 'a' is not defined

In [ ]:
sentence = input( )
if sentence1 == "a quick brown fox jumps over the lazy dog":
  print("True")
elif sentence2 == "hello my name is ramesh":
  print("False")

SyntaxError: invalid syntax (ipython-input-3191991088.py, line 2)

In [ ]:
def calculate_factorial_loop(n):
  if n < 0:
    return"factorial is not defined for negative numbers."
  elif n == 0 or n == 1:
      return 1
  else:
      factorial = 1
      for i in range(1, n + 1):
           factorial *= 1
           return factorial
num = 5
calculate_factorial_loop(num)

1

In [ ]:
def fibonacci(N, a=0, b=1):
  counter = 0
  while counter < N:
    a, b=b, a+b
    print(a, end = " ")
    counter +=1
fibonacci(10)

1 1 2 3 5 8 13 21 34 55

In [ ]:
def sentence( ):
   for i in sentence('qwertyuiopasdfghjklzxcvbnm'):
       if i == a quick brown fox jumps over the lazy dog:
           print("True")
       else:
           print("False")
sentence()

SyntaxError: invalid syntax (ipython-input-372170519.py, line 3)

In [ ]:
sentence1 = "a quick brown fox jumps over the lazy dog"
sentence2 = "hello my name is ramesh"
def ispangram(sentence):
  alphabets = 'qwertyuiopasdfghjklzxcvbnm'
  count = 0
  for i in alphabets :
    if i in sentence:
      count +=1
  print(count)
  if count == 26:
     return True
  else:
     return False

In [ ]:
ispangram(sentence1)

26

True

In [ ]:
ispangram(sentence2)

11

False

In [ ]:
def fibonacci(N, a=0, b=1):
  counter = 0
  while counter < N:
    a, b=b, a+b
    print(a, end= " ")
    counter +=1
fibonacci (10, 3, 5)

5 8 13 21 34 55 89 144 233 377

In [ ]:
def val_pp(val):
   return val, val+1, val+2, val+3, val+4
r, i, c, k, h = val_pp(5)
print(r, i, c, k, h)

5 6 7 8 9

hello

NameError: name 'none' is not defined

In [ ]:
def cube(number):
   return number**3
cube(2)

8

In [ ]:
def square(n1, n2):
    c = (n1**2) + (n2**2)
    return c
square(1, 2)

5

In [ ]:
def factorial(number):
  fact = 1
  x = 0
  while x < 1:
    fact = fact * i
    print(fact)
    x +=1
factorial(5)

5

In [ ]:
def factorial(n):

  t= 1
  for i in range(1, n+1):
    t= t*i
  return t

In [ ]:
factorial(5)

120

In [ ]:
def string_concatenation (s1 = 'ai', s2 = '', s3 = 3):
  if s3 == 3:
    s = (s1 + s2)* s3
    print(s, end = '')
string_concatenation(s1='ai', s2='adventures', s3= 3)

aiadventuresaiadventuresaiadventures

In [ ]:
def calculate_area_Rectangle(b, h, s):
  b = 2
  h = 6
  Rectangle = b* h
  return Rectangle
calculate_area_(2, 6, "Rectangle" )
def calculate_area_Triangle(b, h, s):
  b = 2
  h = 6
  Triangle = 0.5*b* h
  return Triangle
calculate_area_Triangle(2, 6, "Triangle" )

6.0

In [ ]:
def calulate_area(b, h, s):
    if s == "Rectangle":
      return b*h
    elif s == "Triangle":
      return 0.5*b*h
calulate_area(2, 6, "Triangle")

6.0

In [ ]:
t = 1
for i in range(1,2):
  t = t * i
print(t)

1

In [ ]:
def sequence(n):
    p = 1
    for i in range(1,n+1):
      s = (1/factorial(i))
      p+=s

    print(p)

sequence(5)

2.7166666666666663

In [ ]:
def 2greet():
  print("hello", "world!")
2greet()

SyntaxError: invalid decimal literal (ipython-input-587689937.py, line 1)

In [ ]:
def multiply(a, b = 5):
  return a * b
result1 = multiply(3 , 6 )
result1
# print(result1, result2)

18

In [ ]:
def square(num):
  return num ** 2
x = square(4)
y = square(x)
print(x, y)

16 256

In [ ]:
def greet_person(name = 'stranger'):
  print("hello, ", name,'!')
greet_person("Alice")
greet_person( )

hello,  Alice !
hello,  stranger !

In [ ]:
def is_positive(number):
  if number > 0 :
    return True
  else:
    return None
result = is_positive(-5)
if result is None:
  print("The number is not positive.")
else:
  print("The number is positive.")

The number is not positive.

In [ ]:
def concatenate_strings(*args):
  result = " "
  for string in args:
    result += string
  return result
string1 = "hello"
string2 = "world"
string3 = "1"
concatenate_strings = concatenate_strings(string1, string2, string3)
print(concatenate_strings)

 helloworld1

In [ ]:
def hello( ):
  print("hello", "world!")
result = hello( )
print(result)

hello world!
None

In [ ]:
items = ['pen', 'pencil', 'eraser', 'books']

In [ ]:
'i have a ' + items[0]

'i have a pen'

In [ ]:
'the ' + items[1] + ' and the ' + items[0]+ '.'

'the pencil and the pen.'

In [ ]:
int_index = int(1.0)
items[int_index]

'pencil'